@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Righteous', cursive;
}

#logo {
  position:absolute;
  width: 500px;
  height: 500px;
  right: 500px;
  top: 100px;
}

.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}

.block h1{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}


.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}

#SVGlogo {
  position: absolute;
  right: 500px;
  width: 500px;
  display:block;
  transition: transform .50s linear;
  transform-origin: left top;
}


#J {
  animation: Jfade 2.0s;
}

@keyframes Jfade {
  0%   { transform: translate(0, -200px);}
 100% { transform: translate(0, 0);}
}

#W {
  animation: Wfade 2.0s;
}

@keyframes Wfade {
  0%   { transform: translate(0, 200px);}
 100% { transform: translate(0, 0);}
}
